@if(course()){

<div class="course-card" [ngClass]="getSomeClass()">
  <ng-content></ng-content>

  <div
    class="course-title"
    [hightlighted]="isHighlighted()"
    (onClickDirective)="onClickDirective($event)"
  >
    {{ course().description | titlecase }}
  </div>
  @if(course().iconUrl ){
  <ng-content select="course-image"></ng-content>

  }@else{
  <p>No image available</p>
  <img src="../../../assets/empty-image.png" alt="ee" />
  }

  <div>
    @switch (course().category) { @case ('BEGINNER') {
    <span>Beginner</span>
    } @case ('ADVANCED') {
    <span>Advanced</span>
    } @case ('INTERMEDIATE') {
    <span>Intermediate</span>
    } @default {
    <span>Uncategorise</span>
    } }
  </div>

  <div class="course-description">{{ course().longDescription }}</div>

  <div class="course-description">
    Edit Title: <input #courseTitle [value]="course().description" />

    <button (click)="onSaveClicked(courseTitle.value)">Save Course</button>
  </div>

  <button (click)="courseView(course().id)">Click</button>
</div>
}
