<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<div class="text-center">
  <button (click)="addNew()">Add new course</button>
</div>

<div class="courses">
  @for (cor of coreCourse | filterByCategory : "beginner"; track $index; let
  index= $index) {
  <card
    [course]="cor"
    (onCourseView)="onCourseView($event)"
    (courseEmitter)="save($event)"
  >
    lessonsCount {{ cor.lessonsCount }}
    <div class="footer-card">
      footer card
      <div #childElement>Content Child</div>
    </div>

    <course-image
      [iconUrl]="cor.iconUrl"
      [iconUrlDesc]="cor.iconUrlDesc"
    ></course-image>
  </card>

  } @empty{
  <h2>No courses exists</h2>
  }
</div>
<style>
  .text-center {
    text-align: center;
  }
</style>
